<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Usuario Add </h1>
</div>
<p>Agregar Usuario</p>
<div class="form-group">
    <label>Id:
        <input [(ngModel)]="usuario.CodUsuario" class="form-control" placeholder="digite el id" type="number" />
    </label>
</div>
<div class="form-group">
    <label>Nombre:
        <input [(ngModel)]="usuario.NomCompleto" class="form-control" placeholder="digite titulo" type="text" />
    </label>
</div>
<div class="form-group">
    <label>Telefono:
        <input [(ngModel)]="usuario.Telefono" class="form-control" placeholder="digite telefono " type="number" />
    </label>
</div>
<div class="form-group">
    <label>Direccion:
        <input [(ngModel)]="usuario.Direccion" class="form-control" placeholder="digite direccion " type="text" />
    </label>
</div>
<div class="form-group">
    <label>Sexo:
        <input [(ngModel)]="usuario.Sexo" class="form-control" placeholder="digite sexo " type="text" />
    </label>
</div>

<div class="form-group">
    <label>Edad:
        <input [(ngModel)]="usuario.Edad" class="form-control" placeholder="digite edad " type="number" />
    </label>
</div>

<!-- <div class="form-group">
    <label>Prioritario:
        <input type="checkbox" class="form-control" [(ngModel)]="task.priority">
    </label>
</div> -->
<div class="form-group">
    <button (click)="add()" class="btn btn-primary">Agregar</button>
</div>