<div *ngIf="usuario">
    <div>
        <h1 class="h2">Detalle Usuario</h1>
    </div>
    <p>Editar/Eliminar Usuario</p>
    <div class="form-group">
        <label>Id:
            {{usuario.CodUsuario}}
        </label>
    </div>
    <div class="form-group">
        <label>NomUsario:
            <input [(ngModel)]="usuario.NomUsuario" class="form-control" placeholder="digite Nombre Usuario" type="text" />
        </label>
    </div>
    <div class="form-group">
        <label>Telefono:
            <input [(ngModel)]="usuario.Telefono" class="form-control" placeholder="digite telefono " type="number" />
        </label>
    </div>
    <div class="form-group">
        <label>Direccion:
            <input [(ngModel)]="usuario.Direccion" class="form-control" placeholder="digite Direccion " type="text" />
        </label>
    </div>
    <div class="form-group">
        <label>Sexo:
            <input [(ngModel)]="usuario.Sexo" class="form-control" placeholder="digite sexo " type="text" />
        </label>
    </div>
    <div class="form-group">
        <label>Edad:
            <input [(ngModel)]="usuario.Edad" class="form-control" placeholder="digite edad " type="number" />
        </label>
    </div>
    <!-- <div class="form-group">
        <label>Prioritario:
            <input type="checkbox" class="form-control" [(ngModel)]="task.priority">
        </label>
    </div> -->
    <div class="form-group">
        <button (click)="update()" class="btn btn-primary">Actualizar</button>
        <button (click)="delete()" class="btn btn-primary">Eliminar</button>
    </div>
</div>